[submodule "toolchain/musl"]
	path = toolchain/musl
	url = https://github.com/open-ead/botw-lib-musl.git
[submodule "tools/common"]
	path = tools/common
	url = https://github.com/open-ead/nx-decomp-tools.git
[submodule "lib/sead"]
	path = lib/sead
	url = https://github.com/3DWCommunity/sead.git
[submodule "lib/eui"]
	path = lib/eui
	url = https://github.com/3DWCommunity/eui.git
[submodule "lib/agl"]
	path = lib/agl
	url = https://github.com/3DWCommunity/agl.git
[submodule "lib/NintendoSDK"]
	path = lib/NintendoSDK
	url = https://github.com/3DWCommunity/nnheaders.git
